<!DOCTYPE html>
<html ng-app="portfolioApp">
	<head>
		<title>Cristiano Faustino's Portfolio</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Cristiano Faustino's Portfolio">
		<meta name="author" content="Cristiano Faustino">

		<!-- CSS files included -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
		<!-- End of CSS files included -->
		
		<!-- Script files included -->
		<script src="js/libraries/angular.min.js" defer></script>
		<script src="js/app.js" defer></script>
		<script src="js/libraries/jquery-1.11.3.min.js" defer></script>
		<script src="js/libraries/bootstrap.min.js" defer></script>
		<script src="js/visualScripts.js" defer></script>
		<!-- End of Script files included -->
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
				    <div class="navbar-header">
				    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				      	</button>
			      		<a class="navbar-text" href="index.html"><h1>Cristiano Faustino</h1></a>
				    </div>

				    <div id="menu" class="navbar-collapse collapse">
			          <ul class="nav navbar-nav navbar-right">
			             <li><a href="faustino-cristiano.pdf" target="_blank"><span class="glyphicon glyphicon-user"></span>  Resume</a></li>
			             <li><a href="index.html#projects"><span class="glyphicon glyphicon-cog"></span>  Projects</a></li>
			             <li><a href="index.html#skills"><span class="glyphicon glyphicon-tower"></span>  Skills</a></li>
			             <li><a href="https://www.linkedin.com/pub/cristiano-de-oliveira-faustino/93/ab2/609" target="_blank"><span class="fa fa-linkedin-square"></span>  LinkedIn</a></li>
			             <li><a href="index.html#contact"><span class="glyphicon glyphicon-comment"></span>  Contact</a></li>
			          </ul>
			        </div><!--/.nav-collapse -->
			  	</div>
			</nav>
		</header>
		
		<section class="container-fluid" id="content">
			<article id="contact" class="aboutMe">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 content-aboutMe">
							<img class="img-thumbnail profileImg-max-width" src="images/profile-pic.jpeg" alt="My Photo">
						</div>
						<div class="col-xs-12 col-sm-4 col-md-5 content-aboutMe">
							<h3>About Me</h3>
							<p class="justifyParagraph">I just want to say something here, but I sill have to find out what I am going to say. Let's just test for now with this horrible phrase about my lack of knowledge on what to say inside a portfolio. Maybe I could write a little more to test my layout in a better way, I don't know, what do you think? It's getting better, right?</p>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 pull-right content-aboutMe">
							<h3>Contact Information</h3>
							<div class="col-xs-12 col-md-12">

								<address>
									  <strong>Cristiano de Oliveira Faustino</strong><br>
									  <a href="mailto:cristiadu@gmail.com">cristiadu@gmail.com</a><br/>
									  Phone: +55 (19) 99645-4608
								</address>
							</div>
							<div class="col-xs-12 col-md-12">
								<a href="https://www.facebook.com/cristiano.faustino" target="_blank"><img class="img-icon-contacts" src="images/facebook-icon.png" alt="Facebook"/></a>
								<a href="https://www.linkedin.com/pub/cristiano-de-oliveira-faustino/93/ab2/609" target="_blank"><img class="img-icon-contacts" src="images/linkedin-icon.png" alt="LinkedIn"/></a>
								<a href="https://github.com/cristiadu" target="_blank"><img class="img-icon-contacts" src="images/github-icon.png" alt="Github"/></a>
								<a href="https://twitter.com/crfaustino" target="_blank"><img class="img-icon-contacts" src="images/twitter-icon.png" alt="Twitter"/></a>
								<a href="http://www.last.fm/user/cristiadu" target="_blank"><img class="img-icon-contacts" src="images/lastfm-icon.png" alt="LastFM"/></a>
							</div>
						</div>
					</div>
				</div>
			</article>

			<article id="projects" class="container" ng-controller="projectsController">
				<div class="row">
			
					<div class="page-header">
				  		<h1>Projects</h1>
					</div>
		
				</div>
				<div class="row">
					
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default" ng-repeat="project in projects">

							<div class="panel-heading" role="tab" id="{{project.id + 'heading'}}">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" href="{{'#'+project.id}}" aria-expanded="true" aria-controls="collapseOne">
										{{project.name}}
									</a>
								</h4>
							</div>

							<div id="{{project.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{project.id + 'heading'}}">
								<div class="panel-body">
									
									<div class="col-xs-12 col-md-12">
										<strong>Company:</strong> {{project.company}}
									</div>
									<div class="col-xs-12 col-md-6 col-sm-6">
										<strong>Started:</strong> {{project.startDate}}
									</div>
									<div class="col-xs-12 col-md-6 col-sm-6">
										<strong>Ended:</strong> {{project.endDate}}
									</div>
									<div class="row">
										<div class="col-md-12 col-xs-12">
											<img ng-src="{{project.imagePrincipal}}" class="img-responsive center-block">
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<p>{{project.descriptionHTML}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		
				</div>
			</article>

			<article id="skills" class="container" ng-controller="skillsController">
				
				<div class="row">
			
					<div class="page-header">
				  		<h1>Skills</h1>
					</div>
		
				</div>

				<div class="row">
					<div class="col-md-3 col-xs-6" ng-repeat="skill in skills">
						<span class="thumbnail">
	                    	<img class="img-responsive" ng-src="{{skill.image}}" alt="{{skill.text}}">
	                	</span>
	            	</div>
	            </div>

			</article>
		</section>
		
		<footer>
			<div class="container-fluid">
				<div class="col-md-6 col-xs-12">Cristiano Faustino's Portfolio © All rights reserved.</div>
				<div class="col-md-6 col-xs-12 pull-right">Email: <a href="mailto:cristiadu@gmail.com">cristiadu@gmail.com</a></div>
			</div>
		</footer>
	</body>
</html>